@media only screen and (max-width: 720px) {
    body {
        font-size: 55px;
    }
    
    #container {
        height: 16%;
        width: 90%;
        margin-top: 50%;;
    }
    
    #horas, #minutos, #segundos {
        margin: 2%;
        padding: 1%;
    }
}
